html, body, .container-fluid, #left-panel> div {
    height: 100%;
}

* {
	font-family: Helvetica;

}

h1 {
	font-family: Impact;
	text-align: center;

}

.navbar {
	display: inline;
	font-family: Impact;
}

#main {
	height: 100%;
	background: gray;
}

#left-panel {
	height: 100%;
	background: black;
	background-color: white; 
}