{% extends "layout.html" %}
{% block body %}

<h2>Create Listing</h2>
	<form action="/create_listing" method="POST" enctype="multipart/form-data" id="create">
		Email: <input name="email" type="email" />
		<p>Choose a category: <select name="cat_id">
								{% for category in categories %}
									<option value="{{ category.id }}">{{category.name}}</option>
								{% endfor %}
								</select></p>
		<p><textarea name="title" placeholder="please enter a title" rows="1" cols="20"></textarea></p>
		<p><textarea name="price" placeholder="price:" rows="1" cols="15"></textarea></p>
		<p><textarea name="body" placeholder="listing content..." rows="10" cols="150"></textarea></p>
		<div id="upload-photo">
			<input name="file" type="file" multiple />
		</div>
		<p><button type="submit">Create Listing</button></p>
	</form>
{% endblock %}