{% extends "layout.html" %}
{% block body %}

<h2>Edit Listing</h2>
	<form action="/edit_listing" method="POST" id="create">
		Email: <input name="email" type="email" />
		<p>Category: {{category_name}}
		<textarea name="title" placeholder="please enter a title">
		</textarea>
		<textarea name="price" placeholder="price:">
		</textarea>
		<textarea name="body" placeholder="listing content...">
		</textarea>
		<input name="file" type="file" multiple="multiple" />
		<button type="submit">Submit Edited Listing</button>
	</form>
	<form action="/listing/delete/{{listing.id}}">
		<input name="listing_id" type="hidden" value="listing.id" />
		<p><button type="submit">DELETE Listing</button>
	</form>
{% endblock %}