<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container-fluid">
			<div id="nav" class="navbar navbar-inverse" style="background: black">
				<h1><a href="#">Emily's List</a></h1>
				{% with messages = get_flashed_messages() %}
				{% for message in messages %}
					<p id="flash" color="red">{{message}}</p>
				{% endfor %}
				<p><form action="/search" method="GET">
						<div class="input-group center-block" style="text-align: center">
							<input id="search" type="text" placeholder="search..." />
							<button id="search" type="submit">SEARCH</button>
						</div>
					</form>
				</p>
			</div>
	        <div id="left-panel" class="col-xs-3 well">
	            <ul class="nav nav-list">
	                <li class="btn btn-default"><a href="/categories">Categories</a></li>
	                <li class="btn btn-default"><a href="/listings">Listings</a></li>
	                <li class="btn btn-default"><a href="/create_listing">Create a New listing</a></li>
	            </ul>
	        </div>
	        <div class="jumbotron col-xs-8" id="main">
		{% block body %}
		{% endblock %}
			</div>
		{% endwith %}
		</div>
	</body>
</html>